.upper-info
  .upper-info__contents
    .upper-info__contents__logo memo-app
    .upper-info__contents__form
      .upper-info__contents__form__input
        %input{type: "text", class: "input-box-text", placeholder: 'type a ○○'}
      .upper-info__contents__form__submit
        %input{type: "submit", class: "submit-btn"}
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = current_user.name
      .upper-info__contents__menus__menu1
        = icon('far', 'edit')
      .upper-info__contents__menus__menu2
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog')


.main-contents
  .main-contents__box
    .main-contents__box__memo